.withFrame {
    border-style: dotted;
    border-color: darkorange;
    border-width: 5px;
}
.pic_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pic_one {
    position:relative;
    padding: 0.5em;
    margin: 5em;
    width: calc(95%/5);
    box-sizing: border-box;
}
.img_choosen_yes {
    border-style:double;
    border-color: red;
    border-width: 3px;
}
.img_choosen_no {
    border-style:none
}